

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url(./img2.jfif);
    background-size: auto;
    background-size: cover;
    



.container {
    background-color: #d1c3dc46;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    border: black solid 3px;
    border-radius: 35px;
}

.input-group {
    margin-bottom: 10px;
    width: 250px;
}
.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 77%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 20px;
}

button {
    background-color: #41b35f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 20px;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
